.checkboxWrapper {
    position: relative;
    display: inline-block;
}

.checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: relative;

    &:checked {
        background: #2db894;
        border-color: #2db894;
    }
}

.checkIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    color: white;
    font-size: 10px;
    pointer-events: none;
    z-index: 1;
    width: 10px;
    height: 10px;
}